body{
	background-color: #3a3a3a;
	margin: 0 auto;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #6f0;
}
form h2{
	font-size: 32px;
}
form{
	width: 350px;
	box-shadow: 0 0 6px 2px #000;
	padding: 0;
	text-align: center;
}
input{
	background-color: inherit;
	border: 4px solid #6f0;
	margin: 13px 0;
	padding: 8px 12px;
	font-size: 18px;
	box-shadow: 0 0 12px 2px #000;
	color: #6f0;
}
input::placeholder{
	color: #ddd;
}
input:active,
input:focus{
	outline: none;
	box-shadow: 0 0 12px 6px #000;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.left input{
	border-radius: 0 50px 50px 0;
	border-left: none;
}
.right input{
	border-radius: 50px 0 0 50px;
	border-right: none;
}
.fgt-pwd{
	margin: 18px;
}
.fgt-pwd a{
	font-size: 21px;
	color: inherit;
}
form button{
	background-color: #6f0;
	margin: 10px 0 25px;
	padding: 8px 20px;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 50px;
	border: 3px solid #6f0;
	cursor: pointer;
	transition: .2s ease all;
}
form button:hover{
	color: #6f0;
	background-color: #000;
	transition: .1s ease all .1s;
}
form button:active{
	box-shadow: 0 0 13px 3px #6f0;
}


@media screen and (max-width: 400px) {
	
	form{
		width: 280px;
	}
	input{
		padding: 5px 8px;
		font-size: 15px;
	}
	form button{
		padding: 6px 15px;
		letter-spacing: 0;
		font-size: 16px;
	}
	.fgt-pwd a{
		font-size: 16px;
	}
}